@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400&display=swap');
* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  color: var(--xwhite);
}

/* define colours */
:root {
  --xpurple: #7700a6;
  --xpink: #fe00fe;
  --xlightblue: #00b3fe;
  --xdarkblue: #0016ee;
  --xwhite: #ddd;
  --xgrey: #1a1a1a;
  --xblack: #111;
}


html, body {
  position: relative;
}

body {
  background-color: var(--xblack) !important;
  margin: 0;
}


h1, h2, h3 {
  cursor: default;
}


h1 {
  font-weight: 800;
  font-size: 60px;
}
h1 b {
  text-shadow: 0px 0px 5px var(--xwhite);
  position: relative;
}
h1 b:after {
  content: '';
  display: block;
  width: 100%;
  height: 8px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to right, var(--xlightblue), var(--xpurple));
  z-index: -1;
  transition: all 0.4s;
}
h1 b:hover:after {
  height: 38px;
  bottom: 13px;
}


h2 {
  font-weight: 800;
  font-size: 46px;
}
h2 b {
  text-shadow: 0px 0px 5px var(--xwhite);
  position: relative;
}
h2 b:after {
  content: '';
  display: block;
  width: 100%;
  height: 8px;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to right, var(--xlightblue), var(--xpurple));
  z-index: -1;
  transition: all 0.4s;
}
h2 b:hover:after {
  height: 30px;
  bottom: 10px;
}


p {
  font-family: "roboto mono";
  font-weight: 200;
  font-size: 20px;
}


a {
  text-decoration: none;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
.button-main, .button-secondary {
  width: 150px;
  font-weight: 600;
  font-size: 18px;
  border-radius: 10px;
}
.button-main {
  padding: 14px;
  background: linear-gradient(to right, var(--xlightblue), var(--xpurple));
  box-shadow: var(--xpurple) 0px 0px 4px 1px;
  transition: all 0.4s;
}
.button-main:hover {
  box-shadow: var(--xpurple) 0px 0px 15px 1px;
}
.button-secondary {
  padding: 12px;
  background: none;
  border: 2px solid var(--xwhite);
  color: var(--xwhite);
  transition: all 0.4s;
}
.button-secondary:hover {
  box-shadow: var(--xwhite) 0px 0px 6px 1px;
}

.selected {
  text-decoration: none !important;
}


section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 40px;
}



.fade-in {
  position: relative;
  top: 80px;
  opacity: 0;
  transition: top 0.6s, opacity 1.3s, box-shadow 0.4s;
  transition-delay: all 0.4s, box-shadow 0s;
}



/* --- MENU AND NAV BAR --- */
header {
  height: 115px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0px 40px;
}

#logo {
  margin-bottom: 0;
  margin-right: 40px;
  height: 60px;
  width: auto;
}
#logo img {
  width: 60px;
  height: 60px;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: -50%;
  z-index: 99;
  text-align: center;
  background-color: var(--xblack);
  opacity: 0;
  transition: all 0.6s;
}
.navbar-links > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 800px;
}
.navbar-link {
  display: block;
  position: relative;
  font-size: 22px;
  font-weight: 200;
  margin-bottom: 30px;
  cursor: pointer;
  text-shadow: 0px 0px 8px var(--xwhite);
  width: 100%;
  transition: all 0.4s;
}
.navbar-link:after {
  content: '';
  display: block;
  width: 0%;
  max-width: 150px;
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to right, var(--xlightblue), var(--xpurple));
  transition: all 0.4s;
  z-index: -1;
}
.navbar-link:hover {
  text-shadow: 0px 0px 32px white, 0px 0px 16px var(--xwhite);
}
.navbar-link:hover:after {
  width: 100%;
}

#gallery {
  display: none;
}

.navbar-right {
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
}

.hamburger {
  position: relative;
  z-index: 999;
  outline: none;
  background-color: white;
  width: 65px;
  height: 55px;
}
.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
  background-color: white !important;
  height: 2px !important;
  width: 35px !important;
}



@media only screen and (min-width: 900px) {
  .navbar-links {
    position: static !important;
    opacity: 1 !important;
    min-height: 0px;
    margin-right: 20px;
  }
  .navbar-links div {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .navbar-link {
    width: 100px;
    margin: 0 10px;
  }
  .navbar-links div:nth-child(5), .navbar-links div:nth-child(6) {
    display: none;
  }
  #gallery {
    display: block;
    position: relative;
  }
  .navbar-dropdown {
    position: absolute;
    z-index: -1;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    width: 140px;
    text-shadow: 0px 0px 64px white;
    transition: all 0.6s;
    text-align: center;
  }
  #gallery:hover .navbar-dropdown {
    position: absolute;
    opacity: 1;
    height: 60px;
    transition-delay: 0.2s;
  }
  #gallery:hover #navbar-dropdown-1 {
    top: 100%;
    margin-top: -10px;
    padding-top: 38px;
  }
  #gallery:hover #navbar-dropdown-2 {
    top: 200%;
    padding-top: 38px;
  }

  .navbar-dropdown .navbar-links {
    height: 40px !important;
  }

  .hamburger {
    display: none !important;
  }
}






/* --- HOMEPAGE --- */

/* - homepage header - */
.homepage-heading {
  margin-top: 20%;
  position: relative;
  min-height: calc(100vh - 210px);
}
.header-text {
  cursor: default;
}
.header-text h1 {
  margin-bottom: 30px;
}
.header-text p {
  font-size: 22px;
}
.header-text button {
  margin-right: 30px;
  margin-top: 20px;
}

.homepage-graphic {
  height: 800px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}
.homepage-graphic .render {
  height: 100%;
  margin-top: -120px;
}
.homepage-graphic iframe {
  background-color: var(--xblack);
  z-index: -1;
}
.homepage-graphic canvas {
  width: 100% !important;
}
.graphic-shader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  background-color: rgba(17, 17, 17, 0.5);
}

@media only screen and (min-width: 900px) {
  .homepage-heading {
    display: flex;
    min-height: calc(100vh - 150px);
    margin-top: 0px;
    align-items: center;
  }
  .header-text {
    max-width: 52%;
  }
  .homepage-graphic {
    flex-grow: 1;
    margin-top: 50px;
    margin-left: auto;
    position: static;
    transform: translate(0, 0);
    height: 500px;
  }
  .homepage-graphic .render {
    margin-top: 0px;
  }
  .graphic-shader {
    display: none;
  }
}




/* - homepage info - */
.homepage-info {
  margin-top: 100px;
  margin-bottom: 1000px;
}
.homepage-info h2 {
  margin-bottom: 40px;
}
.homepage-info-img {
  padding: 0px 80px;
  max-width: 450px;
  margin: 0px auto 40px;
}
.homepage-info-img img {
  max-width: 100%;
}
.homepage-info button {
  display: block;
  width: auto;
  max-width: 400px;
  margin: 30px auto;
}


@media only screen and (min-width: 900px) {
  .homepage-info-img, .homepage-info-text {
    display: inline-block;
  }
  .homepage-info-img {
    width: 40%;
  }
  .homepage-info-text {
    width: 60%;
  }
  .homepage-info-img {
    float: left;
    margin-top: 40px;
    padding-left: 20px;
  }
}